@model WebApplicationCore.ViewModels.HomeViewModel

@foreach (var item in Model.Pies)
{<div class="container-fluid">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@item.ImageThumbnailUrl" alt="@item.Name" />
            <div class="card-body">
                <h3 class="card-title">@item.Name @item.Price.ToString("c")</h3>
                <p class="card-text">@item.ShortDescription</p>
            </div>
        </div>
    </div>
}

